.strip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.row {
  flex-direction: row;
  gap: 4px;
  padding-right: 4px;
}

.column {
  flex-direction: column;
  justify-content: flex-end;
  gap: 0;
  padding-bottom: 2px;
}

.number {
  line-height: 1.1;
  font-weight: 700;
  min-width: 1em;
  text-align: center;
  color: var(--ng-clue-unmet);
}

.satisfied {
  color: var(--ng-clue-met);
  text-decoration: line-through;
}
